<!--
    ❗️❗️❗️ The path to images from the HTML partial
    is the same as from the index.html file
  -->
<!-- <img src="images/logo.png" alt="" width="48" /> -->
<section class="section-about-weekly-trends">
  <div class="weekly-trends-container">
    <div class="weekly-trends-header">
      <h1 class="weekly-trends-title">WEEKLY TRENDS</h1>
      <a class="weekly-trends-see-all-link" href="/src/partials/catalog.html"
        >See all</a
      >
    </div>
    <div
      id="weekly-trends-movies-container"
      class="weekly-trends-movies-container"
    ></div>
  </div>
</section>
